services:
  db:
    image: postgres:9
    environment:
      POSTGRES_DB: mini_mundo
      POSTGRES_USER: mini_mundo
      POSTGRES_PASSWORD: mini_mundo
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    ports:
      - "8080:8080"
      - "9990:9990"
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_NAME: mini_mundo
      DB_USER: mini_mundo
      DB_PASSWORD: mini_mundo

volumes:
  postgres_data:
